<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <connectionStrings>
    <add name="ERPDbContext" connectionString="Data Source=192.168.0.160;Initial Catalog=EpicorPilot;Integrated Security=false;User Id=EpicorERP;Password=ross2016" providerName="System.Data.SqlClient"/>
    <add name="ERPDbContextLive" connectionString="Data Source=192.168.0.160;Initial Catalog=Live;Integrated Security=false;User Id=EpicorERP;Password=ross2016" providerName="System.Data.SqlClient"/>
    <add name="PLMDbContext" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.161)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=orcl.mixers.com.cn)));Persist Security Info=True;User ID=ROSSPLM;Password=ROSSPLM;" providerName="Oracle.ManagedDataAccess.Client"/>
    <add name="PLMDbContextTest" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.10.60)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=orcl.mixers.com.cn)));Persist Security Info=True;User ID=ROSSPLM;Password=ROSSPLM;" providerName="Oracle.ManagedDataAccess.Client"/>
    <add name="RossLiveDbContext" connectionString="Data Source=192.168.0.160;Initial Catalog=RossLive;Integrated Security=false;User Id=EpicorERP;Password=ross2016" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </providers>
  </entityFramework>

  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
</configuration>
